body {
}

.container {

	border: #44c767;
	text-align: center;

}

h1{
	font-size:50px;
}

.top{

	font-family:Arial;
	font-size:35px;
	font-weight: 600;

}


.mid{
	font-family:Arial;
	font-size:35px;
	margin-top: 40px;
	background-color: rgb(255, 255, 255)60);
}


.end{

/*display: flex; */
display:inline-block;
background-color: #5cbf2a;
	margin-top : 40px;
	font-size:30px;
	font-weight: 600;
	text-align: center;
	padding-top: 0px;
    
}

#now {
width: 510px;
height: 50px;
margin-top: 10px;
margin-bottom: 10px;

text-align: center;
font-size : 30px

}


#input1{
	margin-top: 10px;
	width: 361px;
	height: 45px;
	text-align: center;
	font-size : 30px
;
}

#inputSumOutput{

	display:table-cell;
    vertical-align:middle;
	margin-top : 20px;
	text-align: center;
	font-size:35px;
	width: 308px;
	
    padding-top: 36px;



}


#output1{

	margin-top : 20px;
	text-align: center;
	font-size:25px;
	
}


#b36{

    width: 60px;
	height: 40px;
	font-size : 30px;
	text-align: center;
}


.nOlv {
	background-color:#dbdbdb;
	border-radius:28px;
	border:1px solid #7a7a7a;
	display:inline-block;
	cursor:pointer;
	color:#0e0404;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #dbdbdd;
}
.nOlv:hover  {
	background-color:#1825b8;
}
.nOlv:active {
	position:relative;
	top:1px;
}

.bLue {
	background-color:#4575c7;
	border-radius:28px;
	border:1px solid #1e19ab;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #282d66;
}
.bLue:hover {
	background-color:#1825b8;
}
.bLue:active {
	position:relative;
	top:1px;
}


.gReen {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.gReen:hover {
	background-color:#5cbf2a;
}
.gReen:active {
	position:relative;
	top:1px;
}



.yEllow {
	background-color:#c7c748;
	border-radius:28px;
	border:1px solid #ab9819;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #626629;
}
.yEllow:hover {
	background-color:#f7eb00;
}
.yEllow:active {
	position:relative;
	top:1px;
}



