body {
	background-color:#0c3268;
	color:rgb(243, 243, 243);
	margin-left: 30px;
}

p {
	margin-top:80px;
	font-size:3em;
	font-weight:700;
	text-align: center;
	text-shadow:1px 2px 1px #000;
}

p strong {
	font-size:2.2em;
	color:yellow;

}
div {
	
	font-size:2.2em;
}
input
{
	margin-top:1px;
	font-size:2em;
	font-weight:700;
	text-align: center;
	text-shadow:1px 2px 1px #000;
	display: table; 
	margin-left: auto; 
	margin-right: auto;
}

button
{
	display: inline-flex;
	margin-left: auto; 
	margin-right: auto;

	text-align: center;
	width: 100px; margin: 0 auto;   /*넓이는 원하는 만큼*/

}

textarea
{margin-top:1px;
	font-size:3em;
	font-weight:700;
	text-align: center;
	text-shadow:1px 2px 1px #000;
	display: table; 
	height: 55px;
	margin-left: auto; 
	margin-right: auto;}